[Unit]
Description=Check volume for errors
Documentation=man:btrfs-scrub
After=fstrim.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/btrfs-scrub-all
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
