[Unit]
Description=Scdrand obtains random data from a smartcard and adds them to the kernel entropy pool.
After=gpg-agent.socket

[Service]
Type=simple
Restart=on-failure
RestartSec=60s
Environment=INTERVAL=10
Environment=THRESHOLD=0
Environment=ENTROPY=8
Environment=BYTES=128
ExecStart=/usr/bin/scdrand -l -i ${INTERVAL} -t ${THRESHOLD} -e ${ENTROPY} ${BYTES}

[Install]
WantedBy=default.target
