#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Mount a cloud drive via "rclone mount" on %f
Documentation=man:rclone(1)
Documentation=https://rclone.org
RequiresMountsFor=/home/

[Service]
Type=simple
Environment=RCLONE_CONFIG="%h/.rclone.conf"
ExecStart=/usr/bin/rclone --config $RCLONE_CONFIG mount $RCLONE_OPTIONS $RCLONE_REMOTE "%f"
ExecStop=/usr/bin/fusermount -u -z "%f"

[Install]
WantedBy=default.target
